body {
	margin: 0 auto;
/*	width: 100%;
	height: 100%;*/

}

ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	opacity: 0.8;
	z-index: 100;
}

li {
	font-family: 'Amatic SC', cursive;
	font-size: 24px;
	float: left;
	list-style-type: none;
	opacity: 0.7;
	display: block;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

li:hover {
	opacity: 1;
	font-weight: bold;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-o-transition: 0.4s all;
	cursor: pointer;
}

.contact {
	float: right;
}

/*li a {
	display: block;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}*/

li img {
	width: 30px;
}

#facebook img {
	width: 22px;
}

#twitter img {
	width: 25px;
}

#instagram img {
	width: 22px;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}

.carousel-container {
	width: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	height: 100%;
	overflow: hidden;
	position: relative;
}

#carousel {
	width: 300%;
	height: 100%;
	margin-left: 0%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.carousel-item {
	width: 33.33%;
	position: relative;
	height: 100%;
	float: left;
}

#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    color: black;
}

#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    color: black;
}

.img-scaled {
	width: 100%;
	height: 100%;
}


#background {
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

#background img {
	width: 100%;
	height: 100%;
}

#title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-family: 'Amatic SC', cursive;
	font-size: 90px;
	font-color: black;
	font-weight: bold;
}

#subtitle {
	position: absolute;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	font-color: black;
}

#about-item {
	background-color: #E6E6FA;
}

#about {
	position: absolute;
	top: 15%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-family: 'Amatic SC', cursive;
	font-size: 55px;
	font-color: black;
	font-weight: bold;
}

#about-text {
	font-family: 'Amatic SC', cursive;
	font-family: 'Asap', sans-serif;
	font-size: 28px;
	font-color: black;
	text-align: center;
}

#about-text-container {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 900px;
}

.about-img {
	position: relative;
	top: 65%;
	left: 13%;
	display: inline-block;
	margin: 10px;
}

.about-img img {
	width: 250px;
	float: right;
}

.boba-shop img {
	width: 200px;
	opacity: 0.5;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-o-transition: 0.4s all;
}

.boba-shop img:hover {
	opacity: 1;
	width: 230px;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-o-transition: 0.4s all;
	cursor: pointer;
}

.container-left .boba-shop {
	margin-left: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container-right .boba-shop {
	margin-right: 100px;
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.side {
	width: 50%;
}

.container-left {
	width: 50%;
	top: 0;
	float: left;
}

.container-right {
	width: 50%;
	float: right;
	top: 0;
}

#left {
	position: absolute;
	float: left;
	width: 50%;
	top: 4%;
	background-color: #F8F8FF;
}

#right {
/*	position: absolute;*/
	float: right;
	height: 100%;
	background-color: #B0C4DE;
}

#right .container {
	position: relative;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

#drinks {
	position: absolute;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	font-color: black;
	font-weight: bold;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

#drinks-placeholder {
	position: absolute;
	top: 55%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	text-align: center;

}

.bobaguys-container {
	position: fixed;
	width: 50%;
	height: 100%;
	background-color: #B0E0E6;
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-o-transform: translateX(200%);
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}

.bobaguys-active {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
}

#bobaguys-title {
	position: absolute;
	top: 15%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-family: 'Amatic SC', cursive;
	font-size: 55px;
	font-color: black;
	font-weight: bold;	
}

#bobaguys-stars img {
	position: absolute;
	width: 500px;
	top: 25%;
	left: 52%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

#bobaguys-location-header {
	position: absolute;
	top: 32%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-family: 'Amatic SC', cursive;
	font-size: 32px;
	font-color: black;
	font-weight: bold;
}

#bobaguys-location {
	position: absolute;
	width: 400px;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	background-color: #B0E0E6;
}

.bobaguys-location-list {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-family: 'Asap', sans-serif;
	font-size: 14px;
/*	line-height: 5px;*/
	font-color: black;
}

#bobaguys-description {
	position: absolute;
	width: 600px;
	top: 52%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-family: 'Asap', sans-serif;
	font-size: 16px;
/*	line-height: 5px;*/
	font-color: black;
}

#bobaguys-tips-header {
	position: absolute;
	top: 64%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-family: 'Amatic SC', cursive;
	font-size: 32px;
	font-color: black;
	font-weight: bold;
}

#bobaguys-tips {
	position: absolute;
	width: 500px;
	top: 73%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-family: 'Asap', sans-serif;
	font-size: 16px;
/*	line-height: 5px;*/
	font-color: black;
}

#bobaguys-website a {
	position: absolute;
	top: 85%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 24px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.coming-soon-container {
	position: fixed;
	width: 50%;
	height: 100%;
	background-color: #B0E0E6;
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-o-transform: translateX(200%);
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-0-transition: all 0.7s;
}

#coming-soon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	text-align: center;
}

.coming-soon-active {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
}
